.image-container {
    position: relative;
    width: 100%; 
    height: 85vh; 
}


.image-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(9,9,121);
    background: radial-gradient(circle, rgba(9,9,121,0) 0%, rgba(30,30,44,1) 59%);
    pointer-events: none; 
}



.AnCon {
    position: absolute;
    bottom: 10%;  /* Align from the top instead of bottom */
    max-width: 45rem;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  /* Ensure content aligns from the top */
    padding-left: 3.8vh;
}

@media only screen and (max-width: 425px) {
    .desc {
        margin-right: 2rem;
    }
}

.desc p {
    margin-top: 1rem;
}


.btn{
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 20rem;
    gap: 10px;
    z-index: 2;
}
.watch-btn {
    width: auto;
    padding-right: 0;
}


.spotlight{
    color: #3874cb;
    font-weight: bold;
    bottom: 6rem;
    padding-bottom: 1rem;
}